<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <connection_string>Data Source=FEB-NUC\SQL2014;Initial Catalog=irely02;User ID=irelyinstaller;Password=iRely486;</connection_string>
  <use_default_sql_cmd_vars>True</use_default_sql_cmd_vars>
  <deployment_folder>C:\SANDBOX\1630\Script\TestIC\Deploy</deployment_folder>
</settings>
