Database Project/obj/Debug/i21.dll
Database Project/obj/Debug/i21.pdb
Database Project/obj/Debug/i21.sqlproj.FileListAbsolute.txt
Database Project/obj/Debug/i21.sqlprojResolveAssemblyReference.cache
Database Project/bin/Debug/i21.dacpac
Database Project/bin/Debug/i21.dll
Database Project/bin/Debug/i21.pdb
Database Project/bin/Debug/i21.sql
Database Project/bin/Debug/DeploymentReport.txt
Database Project/bin/Debug/DeploymentReport_1.txt
Database Project/bin/Debug/DeploymentReport_2.txt
Database Project/bin/Debug/i21.publish.sql
Database Project/bin/Debug/i21_1.publish.sql
Database Project/bin/Debug/i21_2.publish.sql
Database Project/i21.dbmdl
Database Project/i21Dev.publish.publish.xml
Database Project/i21SampleCo.publish.publish.xml
Database Project/bin/Debug/DeploymentReport_3.txt
Database Project/bin/Debug/DeploymentReport_4.txt
Database Project/bin/Debug/i21_3.publish.sql
Database Project/bin/Debug/i21_4.publish.sql
Database Project/obj/Debug/Model.xml
Database Project/obj/Debug/postdeploy.sql
Database Project/obj/Debug/predeploy.sql
Database Project/obj/Debug/refactor.xml
*.dbmdl
Integration/obj/Debug/AgViews.sqlproj.FileListAbsolute.txt
Integration/obj/Debug/Integration.sqlproj.FileListAbsolute.txt
Integration/obj/Debug/Model.xml
Integration/obj/Debug/postdeploy.sql
Integration/obj/Debug/predeploy.sql
Origin/bin/Debug/Origin.sql
