Database Project/obj/Debug/i21.dll
Database Project/obj/Debug/i21.pdb
Database Project/obj/Debug/i21.sqlproj.FileListAbsolute.txt
Database Project/obj/Debug/i21.sqlprojResolveAssemblyReference.cache
Database Project/bin/Debug/i21.dacpac
Database Project/bin/Debug/i21.dll
Database Project/bin/Debug/i21.pdb
Database Project/bin/Debug/i21.sql
Database Project/bin/Debug/DeploymentReport.txt
Database Project/bin/Debug/DeploymentReport_1.txt
Database Project/bin/Debug/DeploymentReport_2.txt
Database Project/bin/Debug/i21.publish.sql
Database Project/bin/Debug/i21_1.publish.sql
Database Project/bin/Debug/i21_2.publish.sql
Database Project/i21.dbmdl
Database Project/i21Dev.publish.publish.xml
Database Project/i21SampleCo.publish.publish.xml
